.comment {
    width : 100%;
    margin-top : 65px;
}

.comment-title {
    height: 55px;
    /* border: 1px solid black; */
}

.left {
    float: left;
    opacity: 0.9;
    font-family: KoPubDotum;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.right {
    float: right;
    opacity: 0.9;
    font-family: KoPubDotum;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    text-decoration: none; 
    border: #00964f solid; 
    border-width: 0 0 10px 0;
}

.comment-cont {
    margin-top: 40px;
    margin-bottom : 70px;
}

.group {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 32px;
    list-style: none;
    margin-bottom: 30px;
}

.write {
    opacity: 0.9;
    font-family: KoPubDotum;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.cont {
    opacity: 0.9;
    font-family: KoPubDotum;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;   
}

.date {
    opacity: 0.9;
    font-family: KoPubDotum;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;  
}