.comment {
    width : 100%;
    margin-top : 65px;
}

.comment-title {
    height: 55px;
}

.left {
    float: left;
}

.right {
    float: right;
    text-decoration: none; 
    border: #00964f solid; 
    border-width: 0 0 10px 0;
}

.right:hover {
    cursor: pointer;
}

.comment-cont {
    margin-top: 40px;
    margin-bottom : 70px;
}

.group {
    display: flex;
    list-style: none;
    margin-bottom: 30px;
}

.write {
    min-width: 70px;
    margin-right: 32px;
}

.cont {
    width: 965px;
}

.date {
    min-width: 95px;
    margin-left : 32px;
}

.cont:hover .trash-icon{
    display : inline;
    cursor : pointer;
}

.trash-icon {
    display: none;
    font-size : 16px;
    line-height : 20px !important;
    margin-left : 20px;
}