.NavbarItems {
    background: #ffffff;
    height: 70px;
    display: flex;
    justify-content: start;
    align-items: center;
    float : left;

    opacity: 0.9;
    font-family: KoPubDotum;
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 38px;
    list-style: none;
    text-align: center;
    justify-content: start;
    padding-left : 0;
    margin-top : auto;
    margin-bottom : auto;
}

.nav-links {
    color: #000000;
    text-decoration: none;
}

.nav-links:hover{
    color: #000000;
    text-decoration: none; 
    border: #00964f solid; 
    border-width: 0 0 10px 0;
}
