.copyright{
    margin-top : auto;
    margin-bottom : auto;
    justify-content: left;

    opacity: 0.9;
    font-family: KoPubDotum;
    font-size: 13px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color : #000000;
}

.copyright .times{
    font-family: Times;
    font-weight: bold;
}

.logo{
    justify-content: right;
    margin-top: auto;
    margin-bottom: auto;
}