.intro-graduate {
    height: 550px;
    margin-bottom: 185px;
}

.intro-course {
    margin-bottom: 185px;
}

.intro-professor {
    margin-bottom: 185px;
}

.intro-commission{
    margin-bottom: 185px;
}

.intro-title {
    margin-bottom : 80px;
}

.intro-graduate-left{
    float: left;
    width: 700px;
}

.intro-graduate-right{
    float: right;
    width: 0;
    position: relative;
    left: 117px;
    top: -163px;
}

.intro-graduate-comment {
    margin-top : 177px;
}
.intro-respond-img{
    width:381px;
}

.intro-course-content{
    display: grid;
    grid-template-columns: repeat(4, 278px);
    grid-gap: 29.3px;
    word-break: break-all;
}

.intro-course-cont{
    text-align: justify;
} 

.intro-course-bar{
    width: 278px;
    height: 10px;
    border: #00964f solid;
    border-width: 0 0 10px 0;
    margin-top : 20px;
    margin-bottom : 20px;
}

.intro-professor-content{
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-gap: 35px;
}

.intro-circle {
    font-size : 16px;
    color : #00964f;
    line-height: 36px;
    margin-left : 30px;
    margin-right: 30px;
}


.intro-commision-content{
    display: grid;
    grid-template-columns: repeat(4, 278px);
    grid-gap: 29.3px;
}

.intro-designer-name {
    margin-left : 10px;
    margin-right: 50px;
}
.intro-circle2{
    display: none;
}
.intro-title2{
    margin-bottom: 3vh;
}
.intro4{
    margin-bottom: 3vh;
}
@media screen and (max-width: 460px){
    .intro-graduate {
        margin-bottom: 68px;
        position: relative;
        top: auto;
    }
    
    .intro-course {
        margin-bottom: 68px;
        margin-left : 6vw;
    }
    
    .intro-title {
        margin-bottom : 20px;
    }
    
    .intro-professor {
        margin-bottom: 68px;
        margin-left : 6vw;
    }
    
    .intro-commission{
        margin-bottom: 185px;
        margin-left : 6vw;
    }

    .intro-graduate-left{
        float: none;
    }
    .intro-course-content{
        display: grid;
        grid-template-columns: repeat(1, 80vw);
        grid-gap: 29.3px;
        font-size:12px !important;
        margin-left : 6vw;
    }
    .intro-professor-content{
        display: grid;
        grid-template-columns: repeat(5, auto);
        font-size:12px !important;
        grid-gap: 35px;
        margin-left : 6vw;
    }
    .intro-commision-content{
        display: grid;
        grid-template-columns: repeat(1, 80vw);
        grid-gap: 29.3px;
        font-size:15px !important;
        margin-left : 6vw;
    }
    .intro1{
        font-size: 15px !important;
    }
    .intro2{
        font-size: 12px!important;
        text-align: center;
        word-break: break-all;
    }
    .intro3{
        font-size:12px !important;
    }
    .intro4{
        margin-bottom: 20px;
        font-size:15px !important;

    }
    .intro-designer{
        display: grid;
        margin-right: 5vw;
        grid-template-columns: repeat(1, 200px);
        text-align: right;
        float: right;
    }
    .intro-right{
        position: relative;
        text-align: right;
        width : 85vw;
        margin : auto;
    }
    .intro-graduate-right{
        width:70vw;
        margin-left: auto;
        margin-right: auto;
        float: none;
        position: initial;
    }
    .intro-respond-img{
        width: 70vw;
        
    }
    .intro-graduate-comment {
        position: relative;
        width: 252px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        word-break: break-all;
    }

    .intro-title2 {
        margin-bottom: 20px;
    }
    .intro-respond-font{
        font-size: 15px !important;
        color: #00964f !important;
        margin-bottom: 2vh;
    }
    .intro-course-bar{
        display: none;
        height: 2vh;

    }
    .intro-professor-content{
        display: grid;
        grid-template-columns: repeat(5, 13vw);
        grid-gap: 5vw;
    }
    .intro-circle{
        display: none;
    }
    .intro-circle2{
        display: inline;
        font-size : 4vw;
        color : #00964f;
        line-height: 36px;
        margin-right: 2vw;
    }

    .intro-commission {
        margin-bottom: 68px;
    }

    .intro-title {
        margin-left: 6vw;
    }

    .intro-designer-name {
        margin-right: 0px;
    }
}