.intro-graduate {
    height: 550px;
    margin-bottom: 185px;
}

.intro-course {
    margin-bottom: 185px;
}

.intro-professor {
    margin-bottom: 185px;
}

.intro-commission{
    margin-bottom: 144px;
}

.intro-title {
    margin-bottom : 80px;
}

.intro-graduate-left{
    float: left;
}

.intro-graduate-right{
    float: right;
}

.intro-graduate-comment {
    margin-top : 177px;
}

.intro-course-content{
    display: grid;
    grid-template-columns: repeat(4, 278px);
    grid-gap: 29.3px;
}

.intro-commision-content{
    display: grid;
    grid-template-columns: repeat(4, 278px);
    grid-gap: 29.3px;
}

.intro-course-bar{
    width: 278px;
    height: 10px;
    border: #00964f solid;
    border-width: 0 0 10px 0;
    margin-top : 20px;
    margin-bottom : 20px;
}