@font-face{
    font-family: KoPubDotum;
    font-weight: bold;
    src: url('./font/KoPubWorld_Dotum_Bold.ttf') format('truetype');
}

@font-face{
    font-family: KoPubDotum;
    font-weight: medium;
    src: url('./font/KoPubWorld_Dotum_Medium.ttf') format('truetype');
}

@font-face{
    font-family: KoPubDotum;
    font-weight: light;
    src: url('./font/KoPubWorld_Dotum_Light.ttf') format('truetype');
}

.App {
    width : 100%;
    max-width: 1440px;
    min-width: 1440px;
    margin : auto;
}

.header {
    width: 100%;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    z-index: 1;
}

.content {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    min-width: 1200px;
}

.footer {
    width: 100%;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
}

.main-video {
    margin-left : -120px;
    margin-top : -200px;
    margin-bottom : -60px;
    width : 1440px;
}

.nav-bar{
    height: 70px;
    display: flex;
    align-items: center;
    float : left;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 38px;
    list-style: none;
    text-align: center;
    justify-content: start;
    padding-left : 0;
    margin-top : auto;
    margin-bottom : auto;
}

.nav-links {
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

.nav-links:hover{
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none; 
    border: #00964f solid; 
    border-width: 0 0 10px 0;
}

.nav-links.active{
    color: rgba(0, 0, 0, 0.9);  
    text-decoration: none; 
    border: #00964f solid; 
    border-width: 0 0 10px 0;
}

.nav-sub-menu {
    display: none;
    position: absolute;
    margin-top : 10px;
    width: 267px;
    padding: 0px;
    list-style: none;
    text-align: left;
    background-color: #ffffff;
    z-index: 10;
}

.nav-sub-links{
    color: rgba(0, 0, 0, 0.9);
    text-decoration: none; 
    margin-left : 10px;
}

.nav-sub-links:hover{
    color: #00964f;
    text-decoration: none; 
}

.nav-sub-links.active{
    color: #00964f;
    text-decoration: none; 
}

.nav-sub-links.active .nav-circle{
    display: block;
}

.nav-sub-links:hover .nav-circle{
    display: block;
}
.nav-menu>li:hover .nav-sub-menu {
    display: block;
}

.nav-circle {
    display: none;
    font-size: 22px;
    float: right;
    margin-right: 10px;
    line-height: 32px;
    color : #00964f;
}

.searchbar {
    height: 70px;
    display: flex;
    align-items: center;
    float : right;
}

.search-item{
    display: flex;
    align-items: center;
    float : right;
}

select {
    width: 60px;
    border: 0px solid #999;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
    
.searchbar-input {
    margin: auto 10px auto 10px !important;
    width : 150px;
    height: 40px;
    text-decoration: none; 
    border: #000000 solid; 
    border-width: 0 0 2px 0;
    background: none;
}

.searchbar-icon {
    cursor: pointer;
    opacity: 0.9;
    font-size: 27px;
    line-height: 40px !important;
    color: rgba(0, 0, 0, 0.9);
}

.nav-menu-mobile{
    display: none;
}
.search-item-mobile{
    display: none;
}

.title {
    width: 100%;
    height: 150px;
    display: flex;
}

.title-main {
    margin-right : 8px;
    margin-top : auto;
    margin-bottom: 50px;
}

.title-sub {
    margin-top : auto;
    margin-bottom: 50px;
    opacity: 0.9;
    line-height: 35px !important;
}

.title-mobile {
    display: none;
}

.error {
    margin-top : 350px;
    text-align: center;
}

.error-button {
    width: 200px;
    margin-top : 150px;
    margin-bottom: 250px;
    margin-left : auto;
    margin-right : auto;
    text-align: center;
    border : 1px solid black;
    cursor: pointer;
}

.loading { 
    width: 100px;
    height: 900px;
    margin-left : auto;
    margin-right : auto;
    vertical-align: middle;
}

.spinner-border {
    margin-top : 350px;
    height: 200px !important;
    width: 200px !important;
    animation: spinner-border 1s linear infinite !important;
}

.backarrow{
    display: block;
    margin-left : -50px;
}

.backarrow-logo {
    cursor: pointer;
}

.footer-item-mobile{
    display: none;
}

.footer-copyright{
    float: left;
}

.footer-times{
    font-family: Times;
    font-weight: bold;
}

.footer-logo{
    float: right;
}

.footer-logo-img {
    height: 60px !important;
}

a {
    text-decoration: none !important;
}


@media screen and (max-width: 720px) {
    .mobile-content{

        max-width: 250px;
        min-width: 280px !important;
    }
    .App {
        width : 100%;
        min-width: 320px;
        margin : auto;
    }

    .header {
        width: 100%;
        height: 67px;
        margin-right: auto;
        margin-left: auto;
        min-width: 320px;   
        background: #f9f9f9;
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
    }
    
    .content {
        width: 100%;
        height: 78vh;
        margin-right: auto;
        margin-left: auto;
        min-width: 320px;
        overflow-x: hidden !important;
    }
    
    .footer {
        position : fixed;
        top : 86vh;
        width: 100%;
        height: 15px;
        margin-right: auto;
        margin-left: auto;
        min-width: 320px;
    }

    .main-video {
        margin-left : -6vw;
        margin-right : auto;
        margin-top : 10vh;
        margin-bottom : auto;
        width : 112%;
    }

    .nav-menu {
        display: none;
    }    

    .search-item {
        display : none;
    }

    .nav-bar {
        height: 67px;
    }

    .nav-menu-mobile {
        display : grid;
        grid-template-columns: repeat(2, auto);
    }
    
    .nav-mobile-img{
        width: 119px;
    }

    .side-bar{
        padding-left: 26px;
        display: none;
        list-style: none;
        position: fixed;
        top : 0;
        width: 255px;
        height: 100vh;
        background: #ffffff;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        transition : 850ms;
    }

    .side-bar.active{
        display: block;
        left: 0;
        transition : 350ms;
    }

    .times-icon {
        font-size : 27px;
        position : relative;
        top : 18px;
        left : 177px;
        margin-bottom : 70px;
        cursor: pointer;
    } 

    .side-menu {
        margin-bottom: 25px;
    }

    .side-links {    
        color: rgba(0, 0, 0, 0.9);
        font-weight: bold !important;
        text-decoration: none;
    }
    
    .side-links:hover{
        text-decoration: none;
        color: rgba(0,150,79, 0.9); 
    }

    .side-links.active{
        color: rgba(0,150,79, 0.9); 
        text-decoration: none;
    }

    .side-bar-sub{
        display: none;
        list-style: none;
        padding : 0px;
    }

    .side-bar-sub.active{
        display: block;
    }

    .side-sub-menu{
        margin-top : 10px;
        margin-bottom: 10px;
    }
    .side-sub-links{
        color: rgba(0, 0, 0, 0.9);
        font-weight: bold !important;
        text-decoration: none;
    }

    .side-sub-links:hover{
        color: rgba(0,150,79, 0.9); 
        text-decoration: none;
    }
    
    .side-sub-links.active{
        color: rgba(0,150,79, 0.9); 
        text-decoration: none;
    }

    .side-sub-links.active .side-circle{
        display: inline;
    }
    
    .side-sub-links:hover .side-circle{
        display: inline;
    }

    .caret-icon {
        margin-left : 10px;
        font-size : 24px;
        color: rgba(0,150,79, 0.9); 
    }

    .side-circle{
        display: none;
        font-size : 16px;
        margin-left : 10px;
    }

    .side-menu-logo{
        position: absolute;
        bottom : 15px;
        left : 0px;
        cursor: pointer;
    }

    .searchbar {
        height: 67px;
    }

    .search-item-mobile{
        display: block;
    }

    .searchbar-icon {
        margin-right : 16px;
    }

    .bars-icon{
        margin-left: 12px;
        font-size : 27px;
        line-height: 67px !important;
        cursor: pointer;
    }
    
    .footer-item{
        display: none;
    }

    .footer-item-mobile{
        display: block;
        height: 100%;
        margin-left: 5px;
    }

    .footer-copyright {
        padding-top : 10vh;
        line-height: 15px !important;
    }
    
    .mobile-modal-content .modal-content{
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: transparent;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: .3rem;
        outline: 0;
    }

    .mobile-modal-title{
        position: relative;
        margin-top: 50vw;
        margin-bottom: 95vw;
        text-align: center;
        
    }

    .mobile-icon{
        position: relative;
        opacity: 0.9;
        bottom: 98vw;
        left: 74vw;
        font-size:10vw ;
        color:#ffffff;

    }
    .mobile-searchbar-input{
        position: relative;
        bottom: 87vw;
        left: 26vw;
        height: 8vh;
        width: 45vw;
        text-decoration: none;
        border: none;
        /* margin: auto 10px auto 10px !important; */
        text-decoration: none;
        border: #ffffff solid;
        border-width: 0 0 2px 0;
        background: none;
    }

    .title{
        display: none;
    }

    .title-mobile {
        width: 100%;
        margin-bottom: 21px;
        display: block;
    }
    
    .title-main-mobile {
        margin-right : 8px;
        padding-left : 8px;
        margin-top : 20px;
        border-left : 10px solid #00964f;
    }
    
    .title-sub-mobile {
        margin-top : 17px;
        margin-left : 18px;
        line-height: 17px !important;
    }

    .backarrow{
        display: block;
        margin-top : 1vh;
        margin-left : 0px;
    }
    
    .backarrow-logo {
        cursor: pointer;
        height: 80px !important;
    }

    .footer-mobile{
        display: none;
    }

    .mobile-error{
        font-size : 12px !important;
        margin-top : 30vh;
    }

    .error-button {
        width: 200px;
        margin-top : 70px;
        margin-bottom: 0px;
        margin-left : auto;
        margin-right : auto;
    }
}