.pic{
    flex: 0 0 60%; 
    max-width: 60%;
    height: auto;
    position: relative;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
}

@media (min-width: 992px)
{
    .pic{
        flex: 0 0 25%; 
        max-width: 25%;
    }
}
@media (min-width: 768px)and (max-width: 991px)
{
    .pic{
        flex: 0 0 33%; 
        max-width: 33%;
    }
}
@media (min-width: 576px) and (max-width: 767px)
{
    .pic{
        flex: 0 0 50%; 
        max-width: 50%;
    }
}