.profile {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.profile-row {
  display: grid;
  grid-template-columns: repeat(4, 277px);
  grid-gap: 70px 31px;
}

.profile-pic{
    height: 399px;
    background-color: #d8d8d8;
}

.profile-overlay {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #727272); 
  width: 100%;
  transition: .5s ease;
}

.profile-color-picture{
  position: absolute;
  bottom: -0.25px;
  opacity: 0;

}

.profile:hover .profile-overlay {
  opacity: 0.9;
}

.profile:hover .profile-color-picture {
  opacity: 0.9;
}