.profile {
  position: relative;
  width: 100%;
  max-width: 300px;
}

.profile-row {
  display: grid;
  grid-template-columns: repeat(4, 277px);
  grid-gap: 70px 31px;
}

.profile-pic{
    height: 399px;
    background-color: #d8d8d8;
}

.profile-overlay {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #727272); 
  width: 100%;
  transition: .5s ease;
}

.profile-color-picture{
  position: absolute;
  bottom: -0.25px;
  opacity: 0;

}

.profile:hover .profile-overlay {
  opacity: 0.9;
}

.profile:hover .profile-color-picture {
  opacity: 0.9;
}
@media screen and (max-width: 460px) {
  .profile {
    width: 100%;
    max-width: 277px;
    margin-left: auto;
    margin-right : auto;
  }

  .profile-pic {
    width: 277px;
    height: 341px;
    border-radius: 14px;

}
  .profile-row {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 15px;
  }
  .background{
    width: 277px;
    height: 341px;
    border-radius: 14px;
    box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: #b576bc;
  }
}