.search-title{
    margin-top: 74px;
    margin-bottom: 47px;
    text-align: center;
}

.search-icon {
    margin-right : 10px;
    font-size: 26px;
}

.search-cont{
    color: rgba(0, 150, 79, 0.9);
}

.search-fail{
    margin-top : 320px;
    margin-bottom: 450px;
    text-align: center;
}

.search-mobile-content{
    display: none;
}


@media screen and (max-width: 460px) {
    .search-content{
        display : none;
    }

    .search-mobile-content{
        display: block;
    }

    .search-title{
        font-size : 15px !important; 
    }

    .search-icon {
        margin-right : 10px;
        font-size: 15px;
    }

    .search-fail{
        margin-top : 35vh;
        margin-bottom: auto;
        text-align: center;
        font-size : 12px !important;
    }
}